@(products: List[Product])(implicit flash: Flash, lang: Lang)

@main(Messages("application.name")) {

    <div class="row">
        <div class="col-sm-4">
            <div class="list-group">
            @for(product <- products) {

                <a href=@routes.Products.show(product.ean) class="list-group-item">
                    <h4 class="list-group-item-heading">@product.name</h4>
                    <p class="list-group-item-text">@product.description</p>
                </a>

            }
            </div>
        </div> <!-- /.col-sm-4 -->
    </div>
}